<div class="section section-buttons">
    <div class="container">
        <div class="tim-title">
            <h2 class="text-center">Hoe het werkt</h2>
        </div>
		<br/>
		<br/>


        <div class="row">
            <div class="col-sm-4 col-lg-4 text-center">
							<div class="author">
                                <img src="assets/img/location.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                            </div><br/>
							<p><b>Kies een locatie</b></p>
            </div>
			
		      <div class="col-sm-4 col-lg-4 text-center">
							<div class="author">
                                <img src="assets/img/massage_1.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                            </div><br/>
							<p><b>Vind de juiste massage professional bij jou in de buurt</b></p>
            </div>
			
			<div class="col-sm-4 col-lg-4 text-center">
								<div class="author">
                                <img src="assets/img/massage_baby.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                            </div><br/>
							<p><b>Reserveer direct en geniet van je massage!</b></p>
            </div>


        </div>
    </div>
</div>
