<div class="section section-buttons">
    <div class="container">
        <div class="tim-title">
            <h2 class="text-center">Hoe het werkt</h2>
        </div>
		<br/>
		<br/>


        <div class="row">
            <div class="col-sm-4 col-lg-4 text-center">
							<div class="author">
                                <img src="assets/img/location.jpg" class="img-circle img-no-padding img-responsive" loading="lazy">
                            </div><br/>
							<p><b>Kies een locatie</b></p>
            </div>
			
		      <div class="col-sm-4 col-lg-4 text-center">
							<div class="author">
                                <img src="assets/img/massage_1.jpg" class="img-circle img-no-padding img-responsive" loading="lazy">
                            </div><br/>
							<p><b>Vind de juiste massage professional bij jou in de buurt</b></p>
            </div>
			
			<div class="col-sm-4 col-lg-4 text-center">
								<div class="author">
                                <img src="assets/img/massage_baby.jpg" class="img-circle img-no-padding img-responsive" loading="lazy">
                            </div><br/>
							<p><b>Reserveer direct en geniet van je massage!</b></p>
            </div>


        </div>
    </div>
</div>

<div class="section section-orange section-nucleo-icons">
            <div class="container">
			<h2 class="title text-center">Populaire aanbieders</h2>
                <div class="row">
						    <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/clem-onojeghuo-3.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Henry Ford</h4>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/joe-gardner-2.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Sophie West</h4>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others. No one can whistle a symphony. It takes an orchestra to play it.
                        </p>
                    </div>
      
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/erik-lucatero-2.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Robert Orben</h4>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                        </p>
                    </div>
                </div>
            </div>
                </div>
            </div>
 </div>

<div class="section section-navbars">
    <div class="container">
	
	        <div class="tim-title">
            <h2 class="text-center">Populaire steden</h2><br/><br/>
			</div>
	                <div class="row">
						
						<div class="col-xs-8 col-sm-6 col-md-3" >
							
							<img src="assets/img/amsterdam.jpg" class="img-rounded img-responsive">
							<div class="centered">Amsterdam</div>
						</div>
					<div class="col-xs-8 col-sm-6 col-md-3">
							
							<img src="assets/img/rotterdam.jpg" class="img-rounded img-responsive">
							<div class="centered">Rotterdam</div>
						</div>
			
						<div class="col-xs-8 col-sm-6 col-md-3">
							<img src="assets/img/leiden.jpg" class="img-rounded img-responsive">
							 <div class="centered">Leiden</div>
							 		
						</div>
					    <div class="col-xs-8 col-sm-6 col-md-3">	
							<img src="assets/img/breda.jpg" class="img-rounded img-responsive">
							<div class="centered">Breda</div>
						</div>
                </div>
    </div>
 
</div>

