<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/massage.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">

                <h1 class="presentation-title text-center">
					Ook toe aan een heerlijke massage? 
			    </h1>
				  <h1 class="presentation-subtitle text-center">
					Vind de beste aanbieders bij jou in de buurt
			    </h1>
            </div>
			
        </div>
    </div>
    <div class="main">
      <app-basicelements></app-basicelements>

    </div>
</div>
