<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/login-image.jpg');">
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                      <div class="card card-register">
                          <h3 class="title">Welkom</h3>
                           <form [formGroup]="rForm" class="register-form" (ngSubmit)="add(rForm.value)">
                              <label>Email</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-email-85"></i>
                                  </span>
                                </div>

                                  <input type="text" class="form-control" placeholder="Email" (focus)="focus=true" (blur)="focus=false" name="username" formControlName="username" maxlength="50">
                              </div>

                              <label>Wachtwoord</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-key-25"></i>
                                  </span>
                                </div>
                                   <input type="password" class="form-control" placeholder="Wachtwoord" (focus)="focus=true" (blur)="focus=false" name="password" formControlName="password" maxlength="50">
                              </div>
                              <button class="btn btn-danger btn-block btn-round">Login</button>
                          </form>
                          <div class="forgot">
                              <a href="#" class="btn btn-link btn-danger">Wachtwoord vergeten?</a>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
    </div>
</div>
