<div class="section section-navbars">
    <div class="container">
	
	        <div class="tim-title">
            <h2 class="text-center">Populaire steden</h2><br/><br/>
			</div>
	                <div class="row">
						<div class="col-xs-8 col-sm-6 col-md-3" >
							
							<img src="assets/img/amsterdam.jpg" class="img-rounded img-responsive" alt="Rounded Image">
							<div class="centered">Amsterdam</div>
						</div>
					<div class="col-xs-8 col-sm-6 col-md-3">
							
							<img src="assets/img/rotterdam.jpg" class="img-rounded img-responsive" alt="Rounded Image">
							<div class="centered">Rotterdam</div>
						</div>
						<div class="col-xs-8 col-sm-6 col-md-3">
							
							<img src="assets/img/leiden.jpg" class="img-rounded img-responsive" alt="Rounded Image">
							<div class="centered">Leiden</div>
						</div>
					    <div class="col-xs-8 col-sm-6 col-md-3">
							
							<img src="assets/img/breda.jpg" class="img-rounded img-responsive" alt="Rounded Image">
							<div class="centered">Breda</div>
						</div>
                </div>
    </div>
 
</div>
